.container {
  margin: 0;
}

.tree-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

.lines {
  fill: none;
  stroke-opacity: 0.6;
  stroke-width: 1;
}

/* path.active {
  stroke: blue;
}

.active text,
.active circle {
  fill: blue;
} */
